@font-face {
	font-family: 'Cormorant SC';
	src: url('../fonts/CormorantSC-Light.woff2') format('woff2'),
		url('../fonts/CormorantSC-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant SC';
	src: url('../fonts/CormorantSC-Bold.woff2') format('woff2'),
		url('../fonts/CormorantSC-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant SC';
	src: url('../fonts/CormorantSC-Medium.woff2') format('woff2'),
		url('../fonts/CormorantSC-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant SC';
	src: url('../fonts/CormorantSC-Regular.woff2') format('woff2'),
		url('../fonts/CormorantSC-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant SC Semi';
	src: url('../fonts/CormorantSC-Semi.woff2') format('woff2'),
		url('../fonts/CormorantSC-Semi.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Philosopher';
	src: url('../fonts/Philosopher.woff2') format('woff2'),
		url('../fonts/Philosopher.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway.woff2') format('woff2'),
		url('../fonts/Raleway.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
		url('../fonts/Raleway-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Homenaje';
	src: url('../fonts/Homenaje-Regular.woff2') format('woff2'),
		url('../fonts/Homenaje-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
