$orangeIndex: #b58137;
$fontIndex: 'Cormorant SC', Times, serif;
$fontTitles: 'Philosopher', Helvetica, Arial, sans-serif;
$fontText: 'Raleway', Helvetica, Arial, sans-serif;
$fontCredits: 'Homenaje', Helvetica, Arial, sans-serif;
